	  <div class="card text-white bg-secondary mb-3" style="width: 18rem;">
		  <div class="card-body text-dark">
	    	<h5 class="card-title"><%= repo.name %></h5>
	    	<p class="card-text">Created by <%= repo.owner.login %></p>
	    	<a href="#" class="btn btn-primary">Go somewhere</a>
	  	  </div>
	  </div>