<div class="container">
<% unless ENV['GITHUB_KEY'] %>
<h1>ERROR: This application must have GITHUB_KEY and GITHUB_SECRET environment variables set.</h1>
<h2>Add these variables to your initializers or environment to proceed.</h2>
<% end %>

<h2>AudiAnnotate is a project to publish and share annotations on audiovisual files.</h2>

<h4>The following projects have been created on AudiAnnotate</h4>

<div class="card-deck">
  <% @repos.each do |repo| %>
	  <%= render 'projectcard', repo: repo, editable: false %>
  <% end %>
</div>  

</div>