<p>AudiAnnotate is a project to publish and share annotations on audio files.</p>
<p>Big Sign up link goes here</p>
<h2>Projects</h2>
<p>The following projects have been created on AudiAnnotate</p>

<div class="card-deck">
  <% @repos.each do |repo| %>
	  <%= render 'projectcard', repo: repo %>
  <% end %>
</div>  
