<div class="container">
<h2>My Projects</h2>
<div class="card-deck">
  <% @repos.each do |repo| %>
	  <%= render 'projectcard', repo: repo %>
  <% end %>
</div>  

<%= link_to 'New Project', new_project_path, :class => "btn btn-light btn-lg", :role=> "button"%>

</div>