<h2>My Projects</h2>
<div>
  <% @repos.each do |repo| %>
    <div>
      <!-- Name, owner, link to jekyll home. -->
      <%= link_to(repo.name, project_path(repo.owner.login, repo.name)) %>
  <% end %>
</div>  

<%= link_to 'New Project', new_project_path, :class => "btn btn-light", :role=> "button"%>

