---
layout: page
---

<div>
Universal Viewer Goes Here
</div>

<table>
  <thead>
    <tr>
      <th>Time</th>
      <th>Annotation</th>
    </tr>
  </thead>
  <tbody>
    {%- for annotation_page in site.data[page.manifest_name].manifest.items[0].annotations -%}
      {%- for annotation in site.data[page.manifest_name].canvas-1[annotation_page.label].items -%}
        <tr>
          <td>{{annotation.target.selector.t}}</td>
          <td>{{annotation.body.value}}</td>
        </tr>
      {%- endfor -%}
    {%- endfor -%}
  </tbody>
</table>

{{ page.manifest_id }}